.table {
    margin-top: 20px;
    overflow: scroll;
    height: 350px;
    color: gray;
    width: 300px;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: .5rem;   
}

@media (max-width: 900px) {
    .table{
        width: 900px;
    }
    .table__data{
        width: 60%;
    }
    
}

@media (max-width: 900px) {
    .table{
        width: 900px;
    }
    .table__data{
        width: 40%;
    }
    
}