.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: gray;
    width: 100%;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: .5rem;   
}